// Custom SCSS

@font-face {
  font-family: 'Nunito';
  src: url('~/static/fonts/Nunito-Regular.ttf') format('opentype');
}

@import "variables";

// Then include the following
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";
@import "modal";
@import "carousel";


html, body, #__nuxt, #__layout {
  height: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.live-edit {
  border: none;
}

.btn.btn-icon {
  padding: 4px 6px 2px 6px;
  margin: 0;

  .b-icon {
    font-size: 174%;
  }
}

.btn.b-check {
  padding: 1px 1px 0 1px;
  margin: 0;
  &:hover {
    background: none;
  }

  .b-icon {
    font-size: 200%;
  }
}

.dropdown-custom {

  .dropdown-menu.show {
    //display: block;
    //min-width: 100%;
    max-height: 320px;
    overflow: auto;
    max-width: 450px;

  }
}

.b-form-datepicker {
  width: 200px;
}
table#manager-table .flip-list-move {
  transition: transform 1s;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}


